<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490081623931-t6e23v1cuc0tju844q667ivttngnnbat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490081623931-t6e23v1cuc0tju844q667ivttngnnbat</string>
	<key>API_KEY</key>
	<string>AIzaSyAAEJAggcZ0cHpMb5jpsbNuULilKnh1MTo</string>
	<key>GCM_SENDER_ID</key>
	<string>490081623931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.asseco.dcc</string>
	<key>PROJECT_ID</key>
	<string>dcc-app-ac027</string>
	<key>STORAGE_BUCKET</key>
	<string>dcc-app-ac027.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490081623931:ios:c827901461a1c2592fe7de</string>
	<key>DATABASE_URL</key>
	<string>https://dcc-app-ac027.firebaseio.com</string>
</dict>
</plist>
